{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}

{# On initialise les noms des directions pour le premier chargement de la page #}
{% set directionsInitiales = lignes[0].longName|split(' <> ') %}

<div class="container">

	<div id="dashboard_div">
	
	   <h1>STAR de Rennes consultation des données</h1>
	   
	   
	   <!-- FORMULAIRE PAR LIGNES  -->
	   <div class="col-sm-4">
    	   <form method="POST">
        	    <h3>Par Lignes</h3>
        	    <div class="well" id="div_ligne">
        	       <div class="row">
        	          
        	          <div class="col-sm-12">
        		          <h4>Numéro de ligne :</h4>
        		          <select id="ligne_id_ligne" name="ligne_id_ligne" class="col-sm-12">
        		              {% for ligne in lignes %}
        		                  <option style="color:#{{ ligne.textColor }};background:#{{ ligne.color }};" value="{{ ligne.idLigne }}">{{ ligne.shortName }} {{ ligne.longName }}</option>
        		              {% endfor %}
        		          </select>
        	          </div>
        	          
        	          <div class="col-sm-12">
        		          <h4>Choisissez votre direction :</h4>
        	              <div class="row">
            		          <div class="col-sm-1">
            		              <input id="ligne_direction_0" type= "radio" name="ligne_direction" value="0" checked="checked">
            		          </div>
            		          <div class="col-sm-11">
            		              <div id="radioligne_direction_label_0">{{ directionsInitiales[0] }}</div>
            		          </div>
            		      </div>
            		      
            		      <div class="row">
            		          <div class="col-sm-1">
            		              <input id="ligne_direction_1" type= "radio" name="ligne_direction" value="1">
            		          </div>
            		          <div class="col-sm-11">
            		              <div id="radioligne_direction_label_1">{{ directionsInitiales[1] }}</div>
            		          </div>
            		      </div>
            		      
            		      <div class="row">
                    		  <div class="col-sm-12">
            	                     <button name="ligne_submit">Envoyer</button>
            		          </div>
        		          </div>  
        		      </div>
        		   </div>
        	    </div>
        	</form>
    	</div>
    	<!-- FIN FORMULAIRE PAR LIGNES  -->
    	
    	
    	<!-- FORMULAIRE PAR ARRETS  -->
    	<div class="col-sm-4">
    	    <form method="POST">
        	    <h3>Par Arrets</h3>
        	    <div class="well">
        	       <div class="row">
        	          <div class="col-sm-12">
        		          <h4>Numéro d'arret :</h4>
        		          <select name="arret_id_arret" class="col-sm-12">
        		              {% for arret in arrets %}
        		                  <option value="{{ arret.arretId }}">{{ arret.name }} direction {{ loop.index0 % 2 }}</option>
        		              {% endfor %}
        		          </select>
        	          </div>
        	          <div class="col-sm-12">
        	              <br />
        	              <button name="arret_submit">Envoyer</button>
        		      </div>
        		   </div>
        	    </div>
        	</form>
    	</div>
    	<!-- FIN FORMULAIRE PAR ARRETS  -->
    	
    	
    	<!-- FORMULAIRE PAR LIGNES/ARRETS  -->
    	<div class="col-sm-4">
    	
    	    <form method="POST">
        	    <h3>Par Lignes et Arrets</h3>
        	    <div class="well"  id="div_ligne_arret">
        	       <div class="row">
        	          <div class="col-sm-12">
        		          <h4>Numéro de ligne :</h4>
        		          <select id="ligne_arret_id_ligne" name="ligne_arret_id_ligne" class="col-sm-12">
        		              {% for ligne in lignes %}
        		                  <option style="color:#{{ ligne.textColor }};background:#{{ ligne.color }};" value="{{ ligne.idLigne }}">{{ ligne.shortName }} {{ ligne.longName }}</option>
        		              {% endfor %}
        		          </select>
        	          </div>
        	          <div class="col-sm-12">
        		          <h4>Numéro d'arret :</h4>
        		          <select name="ligne_arret_id_arret" class="col-sm-12">
        		              {% for arret in arrets %}
        		                  <option value="{{ arret.arretId }}">{{ arret.name }} direction {{ loop.index0 % 2 }}</option>
        		              {% endfor %}
        		          </select>
        	          </div>
        	          <div class="col-sm-12">
        	              <br />
        	              <button name="ligne_arret_submit">Envoyer</button>
        		      </div>
        		   </div>
        	    </div>
        	</form>
	    </div>
	    <!-- FIN FORMULAIRE PAR LIGNES/ARRETS  -->
	    
	    
	    <h1>Quelques données :</h1>
	    
	    
	    <!-- DEBUT AFFICHAGE RETARD MOYEN LIGNE  -->
	    <div class="col-sm-12">
	         <h4>Retard moyen des lignes</h4>
      	     <div id="div_ligne_plus_retard" class="well col-sm-6">
    	         Bonnet d'âne : ligne <b>{{ lignePlusRetard[0].shortName }}</b> <b>{{ lignePlusRetard[0].longName }}</b> 
    	         <br />
    	         avec <b>{{ lignePlusRetard[1]|number_format(0, ",",".")|abs }} sec</b> <b id="div_ligne_plus_retard_info">de retard</b>
    	     </div>
    	     <div id="div_ligne_moins_retard" class="well col-sm-6">
    	         Élève modèle : ligne <b>{{ ligneMoinsRetard[0].shortName }}</b> <b>{{ ligneMoinsRetard[0].longName }}</b> 
    	         <br />
    	         avec <b>{{ ligneMoinsRetard[1]|number_format(0, ",",".")|abs }} sec</b> <b id="div_ligne_moins_retard_info">d'avance</b>
    	          
    	     </div> 
    	</div>
    	<!-- FIN AFFICHAGE RETARD MOYEN LIGNE -->
    	
    	
    	<!-- DEBUT AFFICHAGE RETARD MOYEN LIGNE ABSOLU -->
        <div class="col-sm-12">
	         <h4>Écart moyen absolu des lignes</h4>
      	     <div id="div_ligne_plus_retard_abs" class="well col-sm-6">
    	         Bonnet d'âne : ligne <b>{{ lignePlusRetardAbs[0].shortName }}</b> <b>{{ lignePlusRetardAbs[0].longName }}</b> 
    	         <br />
    	         avec <b>{{ lignePlusRetardAbs[1]|number_format(0, ",",".")|abs }} sec</b> <b id="div_ligne_plus_retard_abs_info">d'écart à ses horaires</b>
    	     </div>
    	     <div id="div_ligne_moins_retard_abs" class="well col-sm-6">
    	         Élève modèle : ligne <b>{{ ligneMoinsRetardAbs[0].shortName }}</b> <b>{{ ligneMoinsRetardAbs[0].longName }}</b> 
    	         <br />
    	         avec <b>{{ ligneMoinsRetardAbs[1]|number_format(0, ",",".")|abs }} sec</b> <b id="div_ligne_moins_retard_abs_info">d'écart à ses horaires</b>
    	          
    	     </div> 
    	</div>
    	<!-- FIN AFFICHAGE RETARD MOYEN LIGNE ABSOLU -->
    	
    	
    	
	</div>
	<div class="row">
    <div class="well col-sm-10">
        <div id="piechart" style="height:1000px;"></div>
    </div>
    <div class=" well col-sm-2">
        {% for ligne in lignes %}
            <p> {{ ligne.idLigne }} = {{ ligne.shortName }}</p>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}


{% block script %}
<script> $('#index').addClass('active')</script>

<script type="text/javascript" src="//www.google.com/jsapi"></script>

<script>

    //on applique les couleurs initiales au premier chargement
    $('#div_ligne').css("color", "#{{ lignes[0].textColor }}");
    $('#div_ligne').css("background", "#{{ lignes[0].color }}");
    
    $('#div_ligne_arret').css("color", "#{{ lignes[0].textColor }}");
    $('#div_ligne_arret').css("background", "#{{ lignes[0].color }}");


    ///retard moyen
    $('#div_ligne_plus_retard').css("background", "#{{ lignePlusRetard[0].color }}");
    $('#div_ligne_plus_retard').css("color", "#{{ lignePlusRetard[0].textColor }}");
    
    $('#div_ligne_moins_retard').css("background", "#{{ ligneMoinsRetard[0].color }}");
    $('#div_ligne_moins_retard').css("color", "#{{ ligneMoinsRetard[0].textColor }}");

    //retard moyen absolue
    $('#div_ligne_plus_retard_abs').css("background", "#{{ lignePlusRetardAbs[0].color }}");
    $('#div_ligne_plus_retard_abs').css("color", "#{{ lignePlusRetardAbs[0].textColor }}");

    $('#div_ligne_moins_retard_abs').css("background", "#{{ ligneMoinsRetardAbs[0].color }}");
    $('#div_ligne_moins_retard_abs').css("color", "#{{ ligneMoinsRetardAbs[0].textColor }}");

    //simple ajout 
    {%  if (lignePlusRetard[1]|number_format(0, ",",".") > 0 ) %}
        $( '#div_ligne_plus_retard_info' ).html("d'avance");
    {% else %}
        $( '#div_ligne_plus_retard_info' ).html("de retard");
    {% endif %}
    {%  if (ligneMoinsRetard[1]|number_format(0, ",",".") > 0 ) %}
        $( '#div_ligne_moins_retard_info' ).html("d'avance");
    {% else %}
        $( '#div_ligne_moins_retard_info' ).html("de retard");
    {% endif %}
    
    //lorque l'utilisateur change la liste deroulante PAR LIGNES
    $('#ligne_id_ligne').on('change',function() {
	   
	    //on récupere la valeur ligne_id_ligne selectionnee
	    var idLigneSelected = $("#ligne_id_ligne option:selected").attr('value');
	   
	    {%  for ligne in lignes %} 
	        if (idLigneSelected == "{{ ligne.idLigne }}") {

	    	    {% set directions = ligne.longName|split(' <> ') %}

	    	    {%  for key, direction in directions %} 
	    	        //on insere le noms de la direction dans la div à cote du bouton radio
		    	    $( '#radioligne_direction_label_{{ key }}'  ).html("{{ direction }}");
		        {% endfor %}
		        $('#div_ligne').css("color", "#{{ ligne.textColor }}");
		        $('#div_ligne').css("background", "#{{ ligne.color }}");
	        }
	    {% endfor %}    
	   
    });


    

    //lorque l'utilisateur change la liste deroulante PAR LIGNES_ARRETS
    $('#ligne_arret_id_ligne').on('change',function() {

	    //on récupere la valeur ligne_id_ligne selectionnee
	    var idLigneSelected = $("#ligne_arret_id_ligne option:selected").attr('value');
	   
	    {%  for ligne in lignes %} 
	        if (idLigneSelected == "{{ ligne.idLigne }}") {

		            $('#div_ligne_arret').css("color", "#{{ ligne.textColor }}");
		            $('#div_ligne_arret').css("background", "#{{ ligne.color }}");
	        }
	    {% endfor %}    
	   
    });



    google.load('visualization', '1', { packages : ['corechart'] } );
    google.setOnLoadCallback(drawChart);
    
    function drawChart() {
        
      //initialisation du graphe
      var myData = new google.visualization.DataTable();
      myData.addColumn('string', 'LOL');
      myData.addColumn('number', 'Différence');

      //recolte des données
      var data = new Array();
      {% for retardmoyenligneab in retardmoyenlignesabs %}
          data.push( 
               [
                    "{{ retardmoyenligneab.id }}",
                    {{ retardmoyenligneab.value|number_format(0, ",",".")|abs }}
                ]
          );
      {% endfor %}
      myData.addRows(data);

      var options = {
              title: 'Écart moyen absolu de toutes les lignes',
      };
      
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(myData, options);
      
    }

    
</script>
    
</script>
{% endblock %}


